header {
  letter-spacing: 4px;
  align-items: center;
  padding: 26px 160px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
}

#logo {
  font-size: 20px;
  font-weight: bold;
}

.nav {
  display: flex;
  flex-direction: row;
}

.nav li {
  margin: 0 20px;
}

.main {
  margin: 0 150px;
  display: flex;
  justify-content: center;
  position: relative;
}

.main img {
  width: 100%;
}

.cover {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  color: white;
  font-size: 6vw;
  text-align: left;
  line-height: 2em;
  padding: 5% 4%;
}

.blink {
  animation: blink 1s infinite;
  font-size: 6vw;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

.area {
  margin: 0 150px;
  padding: 40px;
  position: relative;
  text-align: center;
}

.about {
  background: #eef7ff;
}

.area_title {
  font-size: 30px;
  font-weight: bold;
}

.area_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}

.area_content img {
  width: 20vw;
}

.content_text {
  margin-left: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.content_text h3 {
  font-size: 25px;
  margin-bottom: 30px;
}

.content_text p {
  font-size: 18px;
  line-height: 36px;
}

.skills {
  background-color: azure;
}

.grid_skills {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid_column {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.grid_cell {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 150px;
}

.grid_cell h5 {
  font-size: 20px;
  font-weight: lighter;
  margin-top: 10px;
}

.contact :nth-child(2) {
  margin: 30px 0;
}

.contact i {
  font-size: 18px;
  padding: 15px;
  background-color: black;
  color: white;
  border-radius: 50%;
  margin: 0 10px;
}

.contact i:hover {
  background-color: skyblue;
  opacity: 0.7;
  transition: all ease 0.5s 0s;
}
