@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import "reset.css";

@import "main.css";

body {
  width: 100%;
  height: 100%;
  font-family: "Nanum Gothic", sans-serif;
}
